[Desktop Entry]
Name=MudletBootstrap
X-AppInstall-Package=MudletBootstrap
GenericName=Mud Client Launcherf
Comment=Play online text-based games (MUDs)
Exec=MudletBootstrap %f
Terminal=false
Type=Application
MimeType=application/zip;
Icon=mudlet
Categories=Game;AdventureGame;RolePlaying;ActionGame;
